﻿@font-face {
  font-family: 'wyekan';
  /*تعریف یک نام برای فونت*/
  src: url('../../font/wyekan/wyekan.eot');
  /*اکسپلورر 9 به بعد*/
  src: local('W_yekan'), /*بررسی نصب بودن فونت در سیستم کاربر*/ local('W_yekan'), /*برای برخی از مرورگرها مانند سافاری*/
  url('../../font/wyekan/wyekan.eot?#iefix') format('embedded-opentype'), /*هک برای اکسپلورر 8 و ماقبل*/
  url('../../font/wyekan/wyekan.woff') format('woff'), /*مرورگر های جدید*/
  url('../../font/wyekan/wyekan.ttf') format('truetype'), /*تمام مرورگرها به جزء اکسپلورر*/
  url('../../font/wyekan/wyekan.svg#wyekan') format('svg');
  /*نسخه های قدیمی سیستم عامل iOS*/
  font-style: normal;
  font-weight: normal;
}
.overflowtext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.icon {
  background: rgba(0, 0, 0, 0) url("../img/site/icon.png") no-repeat scroll 0 0;
  position: relative;
}
* {
  padding: 0px;
  margin: 0px;
}
body,
table,
td,
th,
div {
  line-height: 22px;
  font-family: wyekan;
  direction: rtl;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
  /* ie 6/7 */
}
.right {
  float: right;
}
.left {
  float: left;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
table {
  border-collapse: collapse;
  direction: ltr;
}
a {
  color: inherit;
  text-decoration: none;
  outline: 0 none;
}
ul,
ol,
li {
  border-width: 0;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.mrg-auto {
  width: 980px;
  margin: 0 auto;
}
table,
td,
th,
tr {
  direction: rtl;
}
table th,
table td {
  text-align: center;
}
.downarrow {
  float: left;
}
.dashbord .title {
  margin: 0 20px 0 0;
}
.slider-admin {
  margin: 20px 0 0 0;
}
.slider-admin label {
  margin: 20px 0 0 0;
}
.slider-admin button.upload {
  float: left;
}
.slider-admin table img {
  width: 80px;
  width: 100px;
}
.picnews-admin {
  margin: 20px 0 0 0;
}
.picnews-admin label {
  margin: 20px 0 0 0;
}
.picnews-admin button.upload {
  float: left;
}
.picnews-admin table img {
  width: 80px;
  width: 100px;
}
.gallery-admin {
  margin: 20px 0 0 0;
}
.gallery-admin label {
  margin: 20px 0 0 0;
}
.gallery-admin button.upload {
  float: left;
}
.gallery-admin table img {
  width: 80px;
  width: 100px;
}
.subgallery-item {
  width: 182px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: right;
  margin: 5px 10px 0 0;
}
.subgallery-item .describe {
  padding: 0px 5px 0 0;
}
.subgallery-item .option {
  position: absolute;
  background-color: #ccc;
  bottom: 0;
  height: 50px;
  width: 100%;
}
.course-admin button {
  margin: 20px 0 0 0;
}
/*********       start-login-admin                    **************/
.admin-login {
  direction: ltr !important;
}
.admin-login .login-body {
  direction: ltr !important;
  width: 40%;
  margin: 10% auto;
}
.admin-login .login-body .panel-body {
  direction: ltr !important;
}
.admin-login .login-body .panel-body .input-group {
  margin: 5px auto;
  direction: ltr !important;
  width: 100%;
}
.admin-login .login-body .panel-body .input-group input{
  margin:6px 0 6px 0;
}
.admin-login .login-body .panel-body .input-group input[type="text"] {
  direction: ltr !important;
  border-radius: 4px;
}
.admin-login .login-body .panel-body .input-group input[type="password"] {
  direction: ltr !important;
  border-radius: 4px;
}
.admin-login .login-body .panel-body .input-group span {
  direction: ltr !important;
}
.admin-login .login-body .panel-body .input-group span i {
  direction: ltr !important;
}
.admin-login .login-body .panel-body .captcha {
  margin: 5px 0 0 20px;
}
.admin-login .login-body .panel-body .captcha img {
  width: 80px;
  margin: 0 0 0 20px;
}
.admin-login .login-body .panel-body .captcha input[type="text"] {
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
}
.admin-login .login-body .panel-body .pass span i {
  font-size: 18px !important;
}
.admin-login .login-body .panel-body .submit {
  float: left;
}
.admin-login .login-body img {
  float: left;
  width: 100px;
}

/*********       end-login-admin                    **************/
.video-admin img {
  width: 100px;
}
.licourse:hover .subcourse {
  display: block;
}
.licourse .subcourse {
  margin: 0 50px 0 0;
}
.comment-admin img {
  width: 100px;
}
.pre-register-admin img {
  width: 100px;
}
.admin-admin input[type="text"] {
  direction: ltr;
  margin: 10px 0 10px 0;
}
.admin-admin input[type="password"] {
  direction: ltr;
  margin: 0 0 10px 0;
}
.admin-admin button {
  float: left;
}