@charset "utf-8";

@font-face {
    font-family:'wyekan';/*تعریف یک نام برای فونت*/
    src:url('../../font/wyekan/wyekan.eot');/*اکسپلورر 9 به بعد*/
    src:local('W_yekan'),/*بررسی نصب بودن فونت در سیستم کاربر*/
    local('W_yekan'),/*برای برخی از مرورگرها مانند سافاری*/
    url('../../font/wyekan/wyekan.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
    url('../../font/wyekan/wyekan.woff') format('woff'),/*مرورگر های جدید*/
    url('../../font/wyekan/wyekan.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
    url('../../font/wyekan/wyekan.svg#wyekan') format('svg');/*نسخه های قدیمی سیستم عامل iOS*/
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family: 'IranSans';
    src: url('../../font/iransans/IranSansWeb.eot?v=4.1.0');
    src: url('../../font/iransans/IranSansWeb.eot?#iefix&v=4.1.0') format('embedded-opentype'),
         url('../../font/iransans/IranSansWeb.woff?v=4.1.0') format('woff'),
         url('../../font/iransans/IranSansWeb.ttf?v=4.1.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: IranSans;
}
.content-wrapper{
    min-height: 700px !important;
}