﻿@font-face {
  font-family: 'wyekan';
  /*تعریف یک نام برای فونت*/
  src: url('../../font/wyekan/wyekan.eot');
  /*اکسپلورر 9 به بعد*/
  src: local('W_yekan'), /*بررسی نصب بودن فونت در سیستم کاربر*/ local('W_yekan'), /*برای برخی از مرورگرها مانند سافاری*/
  url('../../font/wyekan/wyekan.eot?#iefix') format('embedded-opentype'), /*هک برای اکسپلورر 8 و ماقبل*/
  url('../../font/wyekan/wyekan.woff') format('woff'), /*مرورگر های جدید*/
  url('../../font/wyekan/wyekan.ttf') format('truetype'), /*تمام مرورگرها به جزء اکسپلورر*/
  url('../../font/wyekan/wyekan.svg#wyekan') format('svg');
  /*نسخه های قدیمی سیستم عامل iOS*/
  font-style: normal;
  font-weight: normal;
}
*{
  padding: 0;
  margin:0;

}
body{
  font-family: 'wyekan' !important;
  background-color: #5e895b;
}
.navbar-inverse{
  background-color: #5e895b!important;
  border: none!important;

}
.navbar-nav {
  position: absolute !important;
  margin-bottom: 8px;
  z-index: 9;
}
.navbar-inverse .navbar-nav a{
  padding-top: 42px;
  color: #fff !important;
  width:100px;
  text-align: center;
  display: inline-block;
}
.navbar-inverse .navbar-nav li:hover{
  background-color: #feb913 !important;

}
.navbar-inverse .navbar-nav li:hover::after {
  content: '';
  position: absolute;
  bottom: 0; left: 70%;
  width: 0; height: 0;
  border: 8px solid transparent;
  border-bottom-color: #395337;
  border-top: 0;
  margin-left: -28px;
  margin-top: -28px;
}
li.active{
  border-bottom: 10px solid #395337 !important;
  position: relative;
  background-color: #feb913 !important;
}
li.active::after{
  content: '';
  position: absolute;
  bottom: 0; left: 70%;
  width: 0; height: 0;
  border: 8px solid transparent;
  border-bottom-color: #395337;
  border-top: 0;
  margin-left: -28px;
  margin-top: -28px;
}

.navbar-inverse .navbar-nav li:hover {

  border-bottom: 10px solid #395337 !important;
  position: relative; background: #00aabb;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color: #feb913 !important;
}
.border-left{
  width:2px;
  display: inline-block;
  background-color: #feb913;
  height: 20px;
  top: 7px;
  position: relative;

}
.contact{
  min-height: 60px;
  line-height: 4.8;
}
.alert{
  width: 40%;
  margin: 10px auto;
  right:20%;
  position: fixed;
  z-index: 99999999;
}
.container-fluid{
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.slider{
  clear: both;
  position: relative;

}
.slider img{
  width: 100%;
}
.slider-left{
  position: absolute;
  right: 30px;
  z-index: 9;
  bottom:0;

}
.slider .carousel-caption{

  width:50%;
  margin-right: 20%;
}
.slider .carousel-caption h2{
font-size: 50px;
}
.slider .carousel-caption p{
  color:black;
  font-size: 30px;
}
.greenlight{
  background-color: #97b295;
  min-height: 250px;
  position: relative;
}
.label-item{
  position: relative;
  min-height: 250px;
}
.img-label{

position: absolute;
  bottom: 0px;

}
.news{
  position: relative;
  top: 20px;
}
#myCarousel .nav a small {
  display:block;
}
#myCarousel .carousel-inner {
  width:100%;
  position: relative;
}
.carousel-indicators{
  display: none;
}
#myCarousel .nav {
  float: right;
  width: 30%;
  position: relative;
  top: 50px;
}
#myCarousel .item{
  min-height: 200px;


}
.tab-pane{
  padding:0px 30px;
  margin-right: 20px;
}
.nicescroll-rails{
  background-color: rgba(255,255,255,0.3);
  width:6px !important;z-index: 0!important;
}
.nicescroll-cursors{
  background-image: url(../../image/scrool.png) !important;
  width:40px !important;
  background-color: rgba(0,0,0,0) !important;
  border:none !important;
  background-repeat: no-repeat !important;
  margin-right: -19px;
  z-index: 9999 !important;
}
#myCarousel .nav a {
  border-radius:0px;
}
.nav-pills > li{
 border: none !important;
  width: 100%;
  background: none !important;;
  float: none !important;
}
.nav-pills > li > a{
  padding: 5px !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background: none!important;

}
.nav-pills li.active::after{
  border: none !important;
}
.left-menu-tab{
  margin-top: 20px;
  padding:3px;

}
.left-menu-tab a{
  color: white;
  border-right: 2px solid #feb913;
  padding-right: 3px;
  margin-top: 8px;
  display: block;

}
.tab-content{
  height: 180px;
  padding: 10px;
  margin-top: 20px;
  overflow-y: scroll;
}
.news .carousel-caption{

  margin-right: 0px !important;
  text-align: right;
  right: 10% !important;
  left: 0% !important;
  width: 80%;
}
.news .carousel-caption p{
  text-align: right !important;
  direction: rtl;

}
.works{
  min-height: 450px;
  background-image: url("../../image/back.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.works .label-item{
  height: 458px;
}
.works .works-item{
  margin:30px 0px;
}
 .works-image{
  height:200px;
  width:100%;
  overflow: hidden;

}
 .works-image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
 .work-title{
  background-color: rgba(0,0,0,0.3);
  border-bottom: 10px solid #feb913;
  padding: 10px;
  color: white;
  min-height: 180px;
  margin-top: 3px;

}

 .work-title::after{
  content: '';
  position: absolute;
  bottom: 10px;
  left: 55%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-bottom-color: #feb913;
  border-top: 0;
  margin-left: -18px;
  margin-top: -18px;
}
 .work-title h2{
  font-size: 20px;
}

.footer{
  background-color: #7d7d7d;
}
.news-item-description{
  margin: 20px 0px 0px 0px;
}
.about .form-group{
  margin-bottom: 0px !important;
}
.news-item .news-image img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
}
.news-item .label-item{
  min-height: 620px;
}
.news-title{
  background-color: rgba(0,0,0,0.3);
  border-right: 10px solid #feb913;
  padding: 10px;
  color: white;
  min-height: 180px;
}
.main-news{
  margin-top: 10px;
  height: 190px;
}
.news-height{
  height:590px;
  overflow-y: scroll;
}
.main-news{
  margin-right: 25px;
}
.news-title::after{
  content: '';
  position: absolute;
  right: 25px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-width: 8px;
  border-top-style: solid;
  border-top-color: transparent;
margin-top: -15px;
  border-right-color: #feb913;
  border-bottom-color: transparent;


}
 .news-title h2{
  font-size: 20px;
}
ul.footer-menu li{
  list-style: none;
  float: right;
  margin-right: 5px;
  padding: 10px;
}
ul.footer-menu div {
  margin-right: 5px;
}
ul.footer-menu li a{
  color: white;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
}
.copyright{
  line-height: 3.5;
  color: #fff;;
}
.news-item{
  height: 620px;
  background-image: url("../../image/back-news.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery{
  height:250px;
  position: relative;
  margin-top: 20px;
}
.gallery-item{
  height:430px;
  overflow-y: scroll;
}
.gallery-item .works-item{
  margin-right: 10px;
}
.works-item-gallery{
  margin-top: 15px;
}
.owl-carousel{
  height:250px;
  right:0;
}
.owl-carousel .item{

  position: relative;


  z-index: 9;
}
.owl-carousel .item h3{
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  color:#000;
}
.item-img{
  height: 140px;
}
.owl-carousel .item img{
  width: 100%;
height: 100%;
  object-fit: cover;
  object-position: center;
}
.owl-carousel .owl-nav .owl-prev{
  display: block !important;
  position: absolute;
  right:-40px;
  top:20px;
  background-color: rgba(0,0,0,0.1);
  height:80px;
  line-height: 5.5;
}
.owl-carousel .owl-nav .owl-next{
  display: block !important;
  position: absolute;
  left:-40px;
  top:20px;
  background-color: rgba(0,0,0,0.1);
  height:80px;
  line-height: 5.5;
}
.owl-carousel .owl-nav.disabled{
  display: block !important;
}
.gallery-main{
  height: 700px;
  background-image: url("../../image/gallery-back.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-main .label-item{
  height:430px;
}
.about{min-height: 780px !important;overflow-y: scroll;}
.about .label-item{
  height: 780px;
}
.about-desc{

  position: relative;
}
.about-desc img{
  width:100%;

}
.tell-us img{
  width:100%;
  padding: 1px 0px 0px 0px;
}
.call-us-panell{
  background-color: #97b295;
  height: 468px;
  padding: 10px;
  overflow-y: scroll;
}
.call-us-panell input{
  border-radius: 20px;
  height:40px;
  width:95%;
  margin-top: 10px;
}
.call-us-panell input[type="submit"]{
  width: 80px;
  position: relative;
  top:-35px;
 background-color: white;
  border: none;
}
.call-us-panell textarea{
  border-radius: 20px;
  background: none!important;
  width:95%;
  margin-top: 10px;
  border: 2px solid white;
}
.tellnumber{
  color: #ffaf0f;
}
.gallery-view{
  margin: 15px;
}
.gallery-view .news-title::after{
  right:50px !important;
}
#usermessage-vcode-image{
  width:120px !important;
}
@media (max-width: 840px) {
  .slider-left img{
    width:120px;
  }
  .slider .carousel-caption h2{
    font-size: 30px;
  }
  .item-img{
    height:180px;
  }
  .news-item .label-item{
    min-height:180px;
  }
  .about .label-item{
    height: 180px;
  }

}
@media (max-width: 740px){
  .img-label{
    transform: rotate(90deg);
    left:10%;
  }
  .label-item{
    min-height: 150px;
  }
  .works .label-item{
    height: 150px;
  }
  .tab-content{
    margin-top: 0px;
  }
  .works .works-item{
    margin: 0px 0px 10px 0px;
  }
  .works {
    height: 550px;
    overflow-y: scroll;
  }
  .navbar-nav{
    position: relative !important;
    z-index: 9999999999999;
  }
  .nav > li{
    float: right;
  }
  .slider .item img{
    height: 220px;
  }
  .slider-left{
    right:0px;
  }
}
@media (max-width: 570px) {
  .nav > li{
    float: none;
  }
  .nav > li{
    text-align: center;
  }
  .border-left{
    display: none;
  }
  .navbar-inverse .navbar-nav li:hover::after{
    left:55%;
  }
  .navbar-inverse .navbar-nav li.active::after{
    left:55%;
  }
  .gallery-main .label-item{
    height: 150px;
  }
  .gallery-main{
    height: 1000px;
    overflow-y: scroll;
  }
  .owl-theme .owl-nav{
    display: none;
  }
  .main-news{
height: auto;
  }
  .news-item{
    height:800px;
  }
}